<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/formulario.css">
    <title>Formulario Registro</title>
</head>
<body>
    <section class="form-registro">
        <h4>Contacto general</h4>
        <input class="controls" type="text" name="Nombre" id="nombres " placeholder="Ingrese Nombre y Apellido">
        <input class="controls" type="text" name="Correo" id="email" placeholder="Ingrese Correo">
        <input class="controls" type="text" name="tipoconsulta" id="tipoconsulta" placeholder="Tipo Consulta">
        <h3>Comentario</h3>
        <textarea name="" class="control"></textarea>
        <input class="botons" type="submit" value="enviar">
        <h3>Volver a la pagina principal</h3>
        <div class =volver>
            <a href="index.html"> <img src="img/kisspng-green-drawing-gradient-cartoon-green-gradient-gloss-return-button-5aa99dad0d8014.6455407215210653890553.png" width="20%"  alt="volver" > </a>
        </div>
    </section>
</body>
</html>