{% extends 'core/index.html' %}
{% load static %}


{% block content %}
<section class="clientes-contenedor">
  <h2 class="titulo">Nuestros Mecánicos</h2>
  <div class="cards">          
      <div class="card" style=" left: 80px;">
          <img src="{% static 'core/img/img1.jpg' %}" alt="Mecanico1">
          <div class="contenido-texto-card">
              <h4>Ezequiel Jaen</h4>
              <ul>
                  <li>Edad: 25 Años</li>
                  <li>Con 2 Años de Experiencia en el rubro</li>
                  <li>Email: Ezjean@gmail.com</li>
                  <li>Celular: +56932145578</li>
              </ul>
          </div>
      </div>
      <div class="card" style=" left: 120px;">
          <img src="{% static 'core/img/img6.jpg' %}" alt="Mecanico2">
          <div class="contenido-texto-card">
              <h4>Patricio Cardenas</h4>
              <ul>
                 <li>Edad: 30 Años</li>
                 <li>Trabajando desde hace 5 años en el área automotriz</li>
                 <li>Email: patcar20@gmail.com</li>
                 <li>Celular: +56991117242</li>
              </ul>
          </div>
      </div>
      <div class="card" style="left: 160px;">
          <img src="{% static 'core/img/img7.jpg' %}" alt="Mecanico3">
          <div class="contenido-texto-card">
              <h4>Alex Alegre</h4>
              <ul>
                  <li>Edad: 27 Años</li>
                  <li>Empezando el taller automotriz para aprender trabajando</li>
                  <li>Alegre</li>
                  <li>Email: AAlegre@gmail.com</li>
                  <li>Celular: +56972418199</li>
               </ul>                   
          </div>
      </div>
      <div class="card" style=" left: 200px;">
          <img src="{% static 'core/img/img8.png' %}" alt="Mecanico4">
          <div class="contenido-texto-card">
              <h4>Lucas Cabello</h4>
              <ul>
                  <li>Edad: 45 Años</li>
                  <li>Hombre experimentado en el rubro desde sus comienzos</li>
                  <li>Email: Lcabello@hotmail.com</li>
                  <li>Celular: +56934726621</li>
               </ul>                   
          </div>
      </div>
  </div>
</section>

{% endblock content %}