<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/core/css/mecanicos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Mecánicos</title>
</head>
<body>
   <header>          
       <nav class="navbar navbar-expand-lg navbar  navbar-light style "  style= "background-color: #5e4848;">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./index.html">Inicio</a>
                </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./mecanicos.html">Mecánicos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./trabajos.html">Trabajos Realizados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./quienessomos.html">¿Quienes Somos? y Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./fomulario.html">Formulario de Contacto</a>
              </li>
              <li class="nav-item" style="margin-top: 10px;margin-left: 10px;">
                <a href="./login.html" class="botons">Iniciar Sesión</a>
              </li>
              <li class="nav-item" style=" margin-left: 10px;margin-top: 10px; ">
                <a href="./registrarse.html" class="botons">Registrate</a>
            </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <section class="clientes-contenedor">
        <h2 class="titulo">Nuestros Mecánicos</h2>
        <div class="cards">          
            <div class="card" style=" left: 80px;">
                <img src="https://www.todomecanica.com/images/blog/2017/febrero/buen-mecanico.jpg" alt="Mecanico1">
                <div class="contenido-texto-card">
                    <h4>Ezequiel Jaen</h4>
                    <ul>
                        <li>Edad: 25 Años</li>
                        <li>Con 2 Años de Experiencia en el rubro</li>
                        <li>Email: Ezjean@gmail.com</li>
                        <li>Celular: +56932145578</li>
                    </ul>
                </div>
            </div>
            <div class="card" style=" left: 120px;">
                <img src="https://image.freepik.com/foto-gratis/composicion-moderna-mecanico-automoviles_23-2147881912.jpg" alt="Mecanico2">
                <div class="contenido-texto-card">
                    <h4>Patricio Cardenas</h4>
                    <ul>
                       <li>Edad: 30 Años</li>
                       <li>Trabajando desde hace 5 años en el área automotriz</li>
                       <li>Email: patcar20@gmail.com</li>
                       <li>Celular: +56991117242</li>
                    </ul>
                </div>
            </div>
            <div class="card" style="left: 160px;">
                <img src="https://blog.riosulense.com/es/content/uploads/2019/12/tecnologia-para-talleres-mecanicos.jpg" alt="Mecanico3">
                <div class="contenido-texto-card">
                    <h4>Alex Alegre</h4>
                    <ul>
                        <li>Edad: 27 Años</li>
                        <li>Empezando el taller automotriz para aprender trabajando</li>
                        <li>Alegre</li>
                        <li>Email: AAlegre@gmail.com</li>
                        <li>Celular: +56972418199</li>
                     </ul>                   
                </div>
            </div>
            <div class="card" style=" left: 200px;">
                <img src="https://uniformesweb.es/blog/wp-content/uploads/2018/01/ropa-de-trabajo-para-mecanicos.png" alt="Mecanico4">
                <div class="contenido-texto-card">
                    <h4>Lucas Cabello</h4>
                    <ul>
                        <li>Edad: 45 Años</li>
                        <li>Hombre experimentado en el rubro desde sus comienzos</li>
                        <li>Email: Lcabello@hotmail.com</li>
                        <li>Celular: +56934726621</li>
                     </ul>                   
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>
