<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Registrarse</title>
</head>
<body>
    <section class="form-registro">
        <h4>Registrarse</h4>
        <input class="controls" type="text" name="nombres" id="nombreyapellido " placeholder="Ingrese Nombre y Apellido">
        <input class="controls" type="text" name="correo" id="cor" placeholder="Ingrese Correo Electronico">
        <input class="controls" type="text" name="contraseña" id="contr" placeholder="Ingrese Contraseña">
        <input class="controls" type="text" name="contraseña2" id="contr2" placeholder="Vuelva a Ingresar Contraseña">
        <a href="#" class="botons">Enviar
        </a>  
        <a href="./login.html" class="botons">Ir al Login
        </a>  
        <h3>Volver al Inicio</h3>
        <div class =volver>
            <a href="index.html"> <img src="img/kisspng-green-drawing-gradient-cartoon-green-gradient-gloss-return-button-5aa99dad0d8014.6455407215210653890553.png" width="20%"  alt="volver" > </a>
        </div>   
    </section>
</body>
</html>