  
{% extends 'core/index.html' %}
{% load static %}

{% block content %}

<div class="row">
    {% for t in trabajos %}
    <div class="col-lg-4">
        {% if t.imagen %}
        
        <img class="thumbnail" src="{{ t.imagen.url }}">
        {% endif %}

        <div class="box-element product">
            <h3>Problema: {{ t.nombre }}</h3>
            <h4>Marca del auto: {{ t.marca  }}</h4>
            <h5>Posible Precio: ${{ t.precio }}</h5>
            <h6>Fecha del arreglo: {{ t.fecha_problema }}</h6>
        </div>
    </div>
    {% endfor %}
   
</div>

      




{% endblock%}